<h1 class="mb-5 pt-3 text-center">片頭痛予防に効果的な方法</h1>
    <div class="main text-left">
        <div class="top container">
            <h1 class="border-bottom pb-2 fst-italic mt-5">生活リズムを整える</h1>
            <p class="fs-3">・睡眠不足、寝すぎには注意</p>
        <div>
        <div class="container">
            <h1 class="border-bottom pb-2 fst-italic mt-5">規則正しい食生活</h1>
            <p class="fs-3">・空腹は片頭痛の引き金になります</p>
        <div>
        <div class="container">
            <h1 class="border-bottom pb-2 fst-italic mt-5">適度な運動</h1>
            <p class="fs-3">・軽い運動は血管の働きをよくします。夕方に40分くらい、週5日以上の歩行運動が理想的です。</p>
        <div>
        <div class="container">
            <h1 class="border-bottom pb-2 fst-italic mt-5">日差しを避ける</h1>
            <p class="fs-3">・日差しの多いところではサングラスをしましょう</p>
        <div>
        <div class="container">
            <h1 class="border-bottom pb-2 fst-italic mt-5">片頭痛に効果的な食品</h1>
            <p class="fs-3">
                ・ビタミンB2：   豚肉、卵、大豆、焼海苔、うなぎ、ごま<br>
                ・マグネシウム： ほうれん草、下記、大豆製品、魚介類<br>
                ・ビタミンC：    イチゴ、じゃがいも、緑茶<br>
                ・ビタミンE：    大豆、うなぎ、しじみ、落花生<br>
                ・ビタミンA：    バター、牛乳、卵黄、にんじん、ほうれん草<br>
                ・トリプトファン：牛乳、大豆、果実
            </p>
        <div>
    </div>
    <a href="https://www.shimoda-clinic.com/headache/prevention/">参考</a>
